<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.how2java.tmall.mapper.ProductMapper">
    <select id="list" resultType="Product">
        select  * from product where cid = #{cid}
    </select>
    <insert id="add" keyColumn="id" keyProperty="id" parameterType="com.how2java.tmall.pojo.Product" useGeneratedKeys="true">
        insert into product (name, subTitle, originalPrice,
                             promotePrice, stock, cid,
                             createDate)
        values (#{name,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, #{originalPrice,jdbcType=REAL},
                #{promotePrice,jdbcType=REAL}, #{stock,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER},
                #{createDate,jdbcType=TIMESTAMP})
    </insert>
    <delete id="delete">
        delete from product where id=#{id}
    </delete>
    <select id="get" resultType="Product">
        select * from product where id= #{id}
    </select>
    <update id="update" parameterType="com.how2java.tmall.pojo.Product">
        update product
        set name = #{name,jdbcType=VARCHAR},
            subTitle = #{subTitle,jdbcType=VARCHAR},
            originalPrice = #{originalPrice,jdbcType=REAL},
            promotePrice = #{promotePrice,jdbcType=REAL},
            stock = #{stock,jdbcType=INTEGER},
            cid = #{cid,jdbcType=INTEGER},
            createDate = #{createDate,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>